.equipoContainer {
    flex-wrap: wrap;
    display: flex;
}

.equipoContainer div {
    flex-wrap: wrap;
    display: flex;
}

.planch1 {
    width: 60%;
    height: 100%;
    display: flex;
}

.planch1 .piece {
    height: 50%;
}

.planch2 .piece {
    height: 33.33%;
}

.piece img {
    height: 100%;
}

.piece {
    width: 100%;
    display: block;
    position: relative;
}

.planch2 {
    width: 40%;
    height: 100%;
    display: flex;
}

.imgBackground {
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 100%;
}

.planch1 .imgBackground {
    width: 40%;
}

.planch2 .imgBackground {
    width: 30%;
}

.nameEquip {
    position: absolute;
    bottom: 15%;
    right: 20px;
    display: block !important;
}

.nameEquip h3 {
    font-size: 30px;
}

.borderBottom {
    border-bottom: 1px solid rgb(185, 185, 185);
}

.borderRight {
    border-right: 1px solid rgb(185, 185, 185);
}