/* NUESTROS PRODUCTOS */

.ourProducts {
    margin-top: 45px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.products-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    padding-top: 140px;
    position: relative;
}

.products-content .title {
    position: absolute;
    top: 80px;
}

.products-content2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    top: -160px !important;
}

.products3 {
    height: 100vh !important;
    position: relative;
    padding-top: 80px;
    top: -80px;
}

.productDiv {
    height: 50%;
    overflow: hidden;
    position: relative;
    display: block;
}

.sello {
    height: 100%;
}

.productDiv .imgBackground {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    z-index: 1;
    transition: .4s;
}

.productDiv:hover .imgBackground {
    transform: scale(1.1);
}

.productDiv .square {
    position: absolute;
    z-index: 2;
    padding: 10px;
    font-family: f3;
    border: 5px solid #000000;
    font-size: 50px;
    color: black;
}

.finalProduct {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.pro2 {
    height: 50% !important;
    width: 100%;
}

.s4 {
    width: 33%;
}

.s8 {
    width: 67%;
}

#marcos {
    bottom: 20px;
    right: 20px;
}

#raseros {
    bottom: 20px;
    left: 20px;
}

#papeles {
    top: 20px;
    right: 20px;
}

#tintas {
    top: 20px;
    left: 20px;
}

.products-content .mov {
    display: none !important;
}

@media screen and (max-width: 600px) {
    h3 {
        margin-left: 0;
    }
    .s8,
    .s4 {
        width: 100%;
    }
    .productDiv {
        height: 30vh;
    }
    .productDiv div {
        bottom: 10px !important;
        right: 10px !important;
        top: unset !important;
        left: unset !important;
    }
    .products-content .mov {
        display: initial;
    }
    .products-content2 {
        display: none;
    }
    .ourProducts {
        height: auto;
    }
}