/* SLIDER */

.slider {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 80px 0 140px 0;
}

.slider-img {
    height: 100%;
    overflow: hidden;
    display: block;
    height: 100%;
    position: relative;
}

#slider-piece {
    width: 100%;
    height: 100%;
    position: absolute;
}

#slider-piece .img {
    width: 100%;
    height: 100%;
    top: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sliderText {
    margin-right: 15%;
    text-align: center;
    transition: all .8s;
}

.sliderText:hover {}

.sliderTextAnimation {
    transform: translate(100%, 0);
    opacity: 0;
}

.sliderText .borderCard {
    border: 5px solid #000000;
    font-family: f3;
    font-size: 40px;
    padding: 5px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 1);
    background: white;
}

.indicators {
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    display: table;
    cursor: pointer;
    padding: 20px;
}

.indicators i {
    font-size: 100px;
    transition: .5s;
}

.indicators i:hover {
    color: rgb(0, 119, 255);
    font-size: 130px;
}

.iright {
    right: 10px;
}

.ileft {
    left: 10px;
}

.slider-circles {
    bottom: 160px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    display: table;
}

.slider-circles div {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 7px;
    background: rgb(212, 212, 212);
    display: inline-block;
}

.slider-circles .active {
    background: rgb(7, 98, 151);
}


/* FOOTER SLIDER */

footer {
    height: 140px;
    width: 100%;
    background: rgb(165, 165, 165);
    text-align: center;
    position: absolute;
    bottom: 0;
    color: white;
    padding: 20px;
    display: block;
}

footer h1 {
    font-size: 50px;
}

footer h2 {
    font-size: 20px;
}

footer p {
    font-size: 18px;
    display: block;
    text-align: left;
}

@media screen and (max-width: 650px) {
    .slider {
        padding-bottom: 65px;
    }
    .slider-circles {
        bottom: 75px;
    }
    #slider-piece .img {
        justify-content: center;
        /* align-items: initial; */
    }
    .sliderText {
        margin-right: 0;
        /* margin-top: 25px; */
    }
    .sliderTextAnimation {
        transform: translate(0, -50%);
    }
    .indicators {
        opacity: 0;
        top: 0;
        height: -webkit-fill-available;
        padding: 0;
        transform: translate(0, 0%);
    }
    .ileft {
        left: 0;
    }
    .iright {
        right: 0;
    }
    footer p {
        text-align: center;
    }
    footer {
        padding: 10px;
        height: 65px;
    }
    footer h1 {
        font-size: 20px;
        display: inline-block;
    }
    footer h2 {
        display: inline-block;
    }
}


/* GORRA SLIDER */

.colorContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 180px;
    border: none;
    -webkit-box-shadow: 0px;
    -moz-box-shadow: 0px;
    box-shadow: 0px;
    background: transparent;
    border: unset;
}

.colorContainer div {
    border-radius: 50%;
    display: block;
    width: 40px;
    height: 40px;
    background: black;
    margin-bottom: 10px;
    border: unset;
    box
}

#gris {
    background: #1A1A34;
}

#azul {
    background: #6ABFE9;
}

#verde {
    background: #0D6A30;
}

#cafe {
    background: #3F1216;
}

#rojo {
    background: #C81A19;
}

#amarillo {
    background: #EAC40B;
}

#blanco {
    background: white;
    border: 1px solid grey;
}

#verde1 {
    background: #C6D309;
}

#verde2 {
    background: #67B431;
}

#naranja {
    background: #EF791E;
}

#rosado {
    background: #E72B88;
}