* {
    margin: 0;
    padding: 0;
}

nav {
    z-index: 2;
    background: white;
    width: 100vw;
    padding: 10px 5px;
    position: fixed;
    top: 0;
    height: 100px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
}

.nav-content {
    height: inherit;
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.menu-logo {
    display: inline-block;
    width: auto;
}

.menu-logo img {
    height: 100%;
}

.menu-links {
    display: flex;
    align-self: center;
    width: auto;
    font-size: 30px;
}

.menu-links a {
    margin: 0px 8px;
    cursor: pointer;
}


/* SLIDER */

.slider {
    width: 100%;
    margin-top: 120px;
    position: relative;
}

.slider-img img {
    width: 100%;
    position: relative;
    top: 0;
}

.indicators {
    top: 50%;
    bottom: -50%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.indicators div {
    display: block;
}


/* UBICACION */

.ubicacion h3 {
    text-align: center;
}

.ubicacion iframe {
    height: 50vh;
    width: 100%;
    display: block;
    position: relative;
}