@font-face {
    font-family: f1;
    src: url(fonts/avantgarde-book.ttf);
}

@font-face {
    font-family: f3;
    src: url("../fonts/BebasKai.otf");
}

@font-face {
    font-family: f1;
    src: url(../fonts/HPSimplified.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    z-index: 10;
    background: white;
    width: 100vw;
    padding: 10px 5px;
    position: fixed;
    top: 0;
    height: 80px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
}

.nav-content {
    height: 100%;
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.menu-logo {
    display: inline-block;
    width: ;
}

.menu-logo img {
    height: 100%;
}

.menu-links {
    display: flex;
    align-self: center;
    width: auto;
    font-size: 25px;
}

.menu-links a {
    margin: 0px 8px;
    cursor: pointer;
}

.menu-links span {
    color: #0D72ED;
}

@media screen and (max-width: 600px) {
    .menu-links {
        display: none;
    }
    .nav-content {
        justify-content: center;
    }
    .title {
        margin: 0 !important;
    }
}

h3,
h1,
h2,
h4,
h5 {
    font-size: 40px;
    font-family: f3;
}

h3 {
    color: rgb(63, 63, 63);
}

h5 {
    color: rgb(163, 163, 163);
}

p,
a {
    font-family: f1;
}

.title {
    margin-left: 80px;
    display: block;
}

.subrayado {
    height: 2px;
    width: 180px;
    background: rgb(3, 45, 73);
    display: block;
    margin-bottom: 10px;
}

.scrollMargin {
    margin-top: 45px;
}

#scrollBug {
    position: relative;
    top: -80px;
    height: 80px;
    z-index: -20;
}

@media screen and (max-width: 600px) {
    h3 {
        text-align: center;
    }
    .subrayado {
        margin: 0 auto;
        margin-bottom: 10px;
    }
}