@font-face {
    font-family: f1;
    src: url(fonts/avantgarde-book.ttf);
}

@font-face {
    font-family: f3;
    src: url("../fonts/BebasKai.otf");
}

@font-face {
    font-family: f1;
    src: url(../fonts/HPSimplified.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    z-index: 10;
    background: white;
    width: 100vw;
    padding: 10px 5px;
    position: fixed;
    top: 0;
    height: 80px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
}

.nav-content {
    height: 100%;
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.menu-logo {
    display: inline-block;
    width: auto;
}

.menu-logo img {
    height: 100%;
}

.menu-links {
    display: flex;
    align-self: center;
    width: auto;
    font-size: 25px;
}

.menu-links a {
    margin: 0px 8px;
    cursor: pointer;
}

.menu-links span {
    color: #0D72ED;
}

@media screen and (max-width: 600px) {
    .menu-links {
        display: none;
    }
}


/* UBICACION */

.ubicacion {
    width: 80%;
    max-width: 1200px;
    display: block;
    margin: 0 auto;
}

h3,
h1,
h2,
h4,
h5 {
    font-size: 40px;
    font-family: f3;
}

h3 {
    color: rgb(63, 63, 63);
}

h5 {
    color: rgb(163, 163, 163);
}

p,
a {
    font-family: f1;
}

.subrayado {
    height: 2px;
    width: 180px;
    background: rgb(3, 45, 73);
    display: block;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    h3 {
        text-align: center;
    }
    .subrayado {
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

.ubicacion iframe {
    height: 408px;
    width: 70%;
    display: block;
    position: relative;
}

.ubicacion-content {
    width: 100%;
    display: flex;
}

.contact-data {
    width: 30%;
    padding: 0 20px;
}

.contact-data div h5 {
    font-size: 30px;
    margin-bottom: 5px;
}

.contact-data p {
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .ubicacion {
        width: 100%;
    }
    .ubicacion-content {
        display: block;
    }
    .ubicacion iframe {
        height: 408px;
        width: 100%;
        display: block;
        position: relative;
    }
    .contact-data {
        width: 100%;
        text-align: center;
        padding: 20px 0px;
    }
}


/* NUESTROS PRODUCTOS */

.ourProducts {}

.products-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 200vh;
}

.productDiv {
    height: 25%;
    overflow: hidden;
    position: relative;
}

.sello {
    height: 50%;
}

.productDiv img {
    width: 100%;
    display: block;
    z-index: 1;
    transition: .4s;
}

.productDiv:hover img {
    transform: scale(1.1);
}

.productDiv div {
    position: absolute;
    z-index: 2;
    padding: 10px;
    font-family: f3;
    border: 5px solid #000000;
    font-size: 50px;
}

.finalProduct {
    display: flex;
    flex-wrap: wrap;
    height: 50%;
}

.pro2 {
    height: 50% !important;
    width: 100%;
}

.s4 {
    width: 33%;
}

.s8 {
    width: 67%;
}

#marcos {
    bottom: 20px;
    right: 20px;
}

#raseros {
    bottom: 20px;
    left: 20px;
}

#papeles {
    top: 20px;
    right: 20px;
}

#tintas {
    top: 20px;
    left: 20px;
}