nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 10px 20px;
}

nav div {
    display: block;
}

nav i {
    font-size: 50px !important;
    color: black !important;
}

ul {
    list-style-type: none;
}

.productContainer {
    width: 100%;
    height: 100vh;
    display: flex;
}

.productContainer>div {
    width: 50%;
    height: 100%;
    padding-top: 50px;
}

.imgBackground img {
    background-size: cover;
    background-position: center;
    height: 100%;
}

.information-container {
    display: flex;
    align-items: center;
}

.information {}

.information h2 {
    font-size: 75px;
}

.information h5 {
    font-size: 25px;
    color: black;
}

.information .border {
    display: block;
    width: 50px;
    background: black;
    height: 2px;
}